@model Product
@{
    ViewData["Title"] = "Add Product";
}

<h1>Add Product</h1>

<form method="post">
    <label asp-for="Title"></label>
    <input class="form-control" placeholder="Ex: Computer Monitor" asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <br />

    <label asp-for="Price"></label>
    <input class="form-control" placeholder="In USD. Ex: 75.00" asp-for="Price" />
    <span asp-validation-for="Price"></span>
    <br />

    <label asp-for="Category"></label>
    <input class="form-control" placeholder="Ex: Electronics" asp-for="Category" />
    <span asp-validation-for="Category"></span>
    <br />

    <input class="btn btn-dark" type="submit" />
</form>